*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-blend-mode: multiply;
    background: linear-gradient(190deg,#273748,#ACB3B8);
    background-repeat: no-repeat;   
    height: auto; 
}

.navbar{
    background: transparent;
}

.navbar-brand{
    color: #ffffff;
    font-size:26px;
    font-weight:bold;
    letter-spacing: 1px;
}

.navbar-nav .nav-link{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 18px;
}

.login__btn, .signup__btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    justify-content: center;
    letter-spacing: 4px;
    border: 2px solid white;
    border-radius: 4px;
    height: 30px;
    font-family: 'Kanit', sans-serif;
    transition: 0.3s ease-in;
}
.login__btn:hover{
    color: black;
    background: linear-gradient(315deg,#014871,#d7ede2);
}
.signup__btn:hover{
    color: black;
    background: linear-gradient(315deg,#112d60,#b6c0c5);
}

.clock{
    width: 100%;
    height: 200px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    
}
    
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

#day::after{
    content: 'Day';
}

#hrs::after{
    content: 'Hours';
}
#min::after{
    content: 'Minutes';
}
#sec::after{
    content: 'Seconds';
}

.timer h2{
    font-family: 'Kdam Thmor Paro', sans-serif;
    font-size: 64px;
    font-weight: 800;
    -webkit-text-stroke: black 1px;
}

.carousel{
    margin-top: 20px;
}

.carousel-item{
    height: 520px;
    width: 400px;
    border: 1px solid black;
    border-radius: 12px;
}

.carousel-item img{
    width: 400px;
    border-radius: 12px;
}

.list-group{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border: 1.5px solid black;
    box-shadow: 0px 5px 10px rgb(255, 255, 255);
}

.carousel-caption h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
    backdrop-filter: blur(8px);
    border-radius: 6px;
    -webkit-text-stroke: 2px black;
}
    
.carousel-caption p{
    font-size: 4rem; 
    font-family: 'Shadows Into Light', cursive; 
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    backdrop-filter: blur(8px);
}
    
.regist__btn{
    text-decoration: none;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
    width: 120px;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(16px);
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    transition: all 0.3s ease;;
}
    
.regist__btn:hover{
    height: 40px;
    justify-content: center;
    text-align: center;
    background: #788aff;
    color: white;
}
    
#start-btn{
    background: white;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transition: 0.3s ease-in;
}
#start-btn:hover{
    color: white;
    font-weight: 400;
    background: linear-gradient(130deg, #233A4E, #9C6DB0);
}


.carousel-caption h3{
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;
}
.carousel-caption h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}
.carousel-caption h5{
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
}


#dropdownMenuLink{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.dropdown-item{
    font-size: 16px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: .3s ease-out;
    color: #273748;
}

.dropdown-item:hover{
    font-size: 13px;
}



.container-featured {
    display: flex;
    margin: 50px;
    width: 90%;
    height: 25rem;
    margin-top: 10%;
    background: white;
    border-radius: 8px;
    color: black;
    position: relative;
    flex-grow: 1;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.25);
}

.container-featured .bike-image{
    height: 25rem;
    position: relative;
    display: block;
    border-radius: 8px;
}
.container-featured .zx-10r{
    filter: contrast(5%);
}

.container-featured .info-panel{
    margin-left: 10%;
    text-decoration: none;
}

.info-panel h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.info-panel h1{
    font-size: 64px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.info-panel h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.info-panel p{
    font-size: 24px;
    font-family: 'Teko', sans-serif;
}

.info-panel h3{
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
}

.info-panel ul li{
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}
.featured .ff {
    color: white;
    text-align: center;
    font-size: 4rem;
    top: 60px;
    font-family: 'Oswald', sans-serif;
}
.info-panel button{
    align-items: center;
    margin-left: 50%;
    color: white;
    margin-top: 20px;
    width: 200px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(270deg,#2f4f4f,#7dafc2);
    transition: 0.3s ease-in;
}
.info-panel button:hover{
    background: linear-gradient(270deg,#2cadad,#45caff);
    color: black;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(16px);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content p{
    text-align: center;
    font-size: 2rem;
    font-family: 'Saira Condensed', sans-serif;
  }
  .modal-content img{
    width: 256px;
    height: auto;
    margin-left: 43%;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  
footer{
    background-color: transparent;
    backdrop-filter: blur(16px);
    color: black;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    height: 120px;
}
footer img{
    width: 180px;
    height: auto;
}
footer p{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}



@media (max-width: 768px) {
    body{background: red;}
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .carousel-item {
        height: 300px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info-panel {
        margin-left: 5%;
    }

    .info-panel h1 {
        font-size: 40px;
    }

    .info-panel h2 {
        font-size: 30px;
    }

    .info-panel p {
        font-size: 18px;
    }

    .info-panel h3 {
        font-size: 18px;
    }

    .info-panel ul li {
        font-size: 16px;
    }
}

/* Mobile screens */
@media (max-width: 576px) {
    .navbar-nav .nav-link {
        font-size: 12px;
    }

    .carousel-item {
        height: 200px;
    }

    .carousel-caption h1 {
        font-size: 3rem;
    }

    .carousel-caption p {
        font-size: 2rem;
    }

    .info-panel h1 {
        font-size: 32px;
    }

    .info-panel h2 {
        font-size: 24px;
    }

    .info-panel p {
        font-size: 16px;
    }

    .info-panel h3 {
        font-size: 16px;
    }

    .info-panel ul li {
        font-size: 14px;
    }
}


.feedback {
    justify-content: center;
    text-align: center;
    flex-wrap: 1;
    color: white;
    font-weight: 700;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 64px;
    margin-top: 20px;
}