*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-blend-mode: multiply;
    background: linear-gradient(190deg,#273748,#ACB3B8);
    background-repeat: no-repeat;   
    height: auto; 
}

.navbar{
    background: transparent;
}

.navbar-brand{
    color: #ffffff;
    font-size:26px;
    font-weight:bold;
    letter-spacing: 1px;
}

.navbar-nav .nav-link{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 18px;
}

.login__btn, .signup__btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    justify-content: center;
    letter-spacing: 4px;
    border: 2px solid white;
    border-radius: 4px;
    height: 30px;
    font-family: 'Kanit', sans-serif;
    transition: 0.3s ease-in;
}
.login__btn:hover{
    color: black;
    background: linear-gradient(315deg,#014871,#d7ede2);
}
.signup__btn:hover{
    color: black;
    background: linear-gradient(315deg,#112d60,#b6c0c5);
}
#dropdownMenuLink{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.dropdown-item{
    font-size: 16px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    transition: .3s ease-out;
    color: #273748;
}

.dropdown-item:hover{
    font-size: 13px;
}

.container .row{
    margin-top: 40px;
}
.container .row img{
    filter: contrast(1);
    margin-left: 15%;
}

.container .row h1{
    color: white;
    font-family: 'Kanit', sans-serif;
    border: 2px  solid white;
    border-radius: 6px;
    text-align: center;
}

.container .row button{
    justify-content: center;
    margin-left: 20%;
    border: 2px solid white;
    width: 220px;
    background: transparent;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(8px);
    font-family: 'Russo One', sans-serif;
    height: 40px;
    transition: .2s ease-in;
}
.container .row button:hover{
    font-weight: 600;
    height: 35px;
    background: linear-gradient(140deg,#6cd0ff,#1c2e4c);
}

.container .row .col h2{
    color: white;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    -webkit-text-stroke: 1px rgb(0, 33, 6);
}
.container .row .col h4{
    color: white;
    font-size: 32px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}
.container .row .col p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
.container .row .col ul li{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    list-style: none;
}
.container .row .col ul li::before{
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
}


.message{
    display: none;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 6px;
}

footer{
    background-color: transparent;
    backdrop-filter: blur(16px);
    color: black;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 120px;
}

footer img{
    width: 180px;
    height: auto;
}
footer p{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}